version: "3.3"

services:
    proxy:
        image: jwilder/nginx-proxy:{{ nginx_version }}
        ports:
            - 80:80
            - 443:443
        networks:
            - proxy_net
        labels:
            - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy
        volumes:
            - /var/run/docker.sock:/tmp/docker.sock:ro
            - vhostd:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
{% if dockerautoproxy_certs_path is not none %}
            - "{{ dockerautoproxy_certs_path }}:/etc/nginx/certs:ro"
{% else %}
            - certs:/etc/nginx/certs:ro
{% endif %}
{% if dockerautoproxy_config_path is not none %}
            - "{{ dockerautoproxy_config_path }}:/etc/nginx/conf.d"
{% endif %}
        deploy:
            placement:
                constraints:
                    - node.role == manager

{% if dockerautoproxy_ssl_companion %}
    proxy-ssl-companion:
        image: jrcs/letsencrypt-nginx-proxy-companion
        networks:
            - proxy_net
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - vhostd:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
{% if dockerautoproxy_certs_path is not none %}
            - "{{ dockerautoproxy_certs_path }}:/etc/nginx/certs:rw"
{% else %}
            - certs:/etc/nginx/certs:rw
{% endif %}
        deploy:
            placement:
                constraints:
                    - node.role == manager
{% endif %}

networks:
    proxy_net:
        driver: overlay

volumes:
    vhostd:
    html:
    certs:
